<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">

    <h3>姓名：{{user.name}}年龄：{{user.age}}生日：{{user.bir}}</h3>
    <hr>
    <!-- 通过v-for遍历对象取值  value代表对象一个个值 key是键  index是下标 从0开始-->
    <span v-for="(value, key, index) in user">
        {{key}}：{{value}}{{index}}
    </span>
    <hr>
    <!--  遍历数组  -->
    <ul>
        <li v-for="(city, index) in arr">{{index+1}}--{{city}}</li>
    </ul>

    <hr>
    <!--  遍历数组中的对象  :key="value.id"：vue需要提供唯一的标识-->
    <ul>
        <li v-for="(value, index) in users" :key="value.id">
            {{index+1}}: {{value.name}}=={{value.age}}=={{value.content}}
        </li>
    </ul>

</div>

<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            user: {name: "小黑", age: 23, bir: "2012-12-12"},
            arr: ["河南", "北京", "四川"],
            // 数组中包含对象的遍历
            users: [
                {id: 1, name: "小黄", age: 23, content: "我是小黄"},
                {id: 2, name: "小红", age: 23, content: "我是小红"},
                {id: 3, name: "小绿", age: 23, content: "我是小绿"},
            ]
        },
    })
</script>
</body>
</html>